<div class="container py-2 m-auto mt-1 text-light shadow-sm">
    <div class="row">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-around w-100">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <img class="m-auto" src="../../../assets/talk to doctors.jpeg" height="75" width="75"
                                alt="">
                            <h5>Talk to Doctor</h5>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/Medicines"> <img class="m-auto" src="../../../assets/medicines.jpeg"
                                height="75" width="75" alt="">
                            <h5>Medicine</h5>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#"> <img class="m-auto" src="../../../assets/surgery.jpeg"
                                height="75" width="75" alt="">
                            <h5>Surgery</h5>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#"> <img class="m-auto" src="../../../assets/insurance.png"
                                height="75" width="75" alt="">
                            <h5>Insurance</h5>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#"><img class="m-auto" src="../../../assets/lab test2.jpeg"
                                height="75" width="75" alt="">
                            <h5>Lab Test & Packages</h5>
                        </a>

                    </li>
                </ul>


            </div>
        </nav>

    </div>
</div>
<div class="container py-2 mt-2 w-75 border shadow-sm rounded-pill">
    <div class="row text-center">
        <div class="col-md-6">
            <h5 class="mt-3"> Consult with Top Doctors Online, 24x7 </h5>
        </div>
        <div class="col-md-6 py-3 rounded-pill">
            <h6 class="text-primary">Statrt Consultation <i class="bi bi-arrow-right ms-2"></i> </h6>
        </div>
    </div>

</div>

<!-- ----------------- -->
<div class="container mt-1 py-4">
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.medibuddy.in/assets/labs-home.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item active">
                    <img src="https://www.medibuddy.in/assets/labs-home.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item active">
                    <img src="https://www.medibuddy.in/assets/labs-home.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item active">
                    <img src="https://www.medibuddy.in/assets/labs-home.webp" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div class="container">
    <div xlass="row mt-3 py-3 shadow-sm">
        <img src="https://www.medibuddy.in/assets/ABHA.svg" alt="">
    </div>
</div>

<!-------------------------->
<div class="container mt-3 py-4 ">
    <div class="row">
        <div class="col-md-4 text-start ms-3">
            <h5 class="mt-2">Medibuddy Gold</h5>
            <h4 class="mt-3">Give the care your family deserves</h4>
            <h5 class="mt-3">Unlimited Consultations with top Doctors for 6 family members in 18+ specialities</h5>
            <button class="btn btn-warning btn-lg mt-3 p-2 fs-5 ms-1">By Medibuddy Gold <i
                    class="bi bi-arrow-right mx-2"></i></button>

        </div>
        <div class="col-md-6">
            <div class="row m-auto">
                <div class="col-md-6">
                    <div class="card m-auto shadow-sm rounded-5" style="width: 14rem;">
                        <img src="../../../assets/unlimited-consultations.svg" class="card-img-top m-2" alt="..."
                            height="100px">
                        <div class="card-body">
                            <h5 class="card-title">Unlimited Free Consultations</h5>
                            <p class="card-text">Get unlimited free consultations with all doctors 24x7</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow-sm rounded-5 " style="width: 14rem;">
                        <img src="../../../assets/family.svg" class="card-img-top m-2" alt="..." height="145px">
                        <div class="card-body">
                            <h5 class="card-title">Free For Full Family</h5>
                            <p class="card-text">Free consultations for upto 6 family members</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>


                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="card m-auto shadow-sm rounded-5" style="width: 14rem;">
                            <img src="../../../assets/free-health.svg" class="card-img-top m-2" alt="..."
                                height="100px">
                            <div class="card-body">
                                <h5 class="card-title">Free For All Health Problems</h5>
                                <p class="card-text">Consult with any doctor from 18 departments at any time</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card shadow-sm rounded-5 me-5" style="width: 14rem;">
                            <img src="../../../assets/video-consultation.svg" class="card-img-top m-2" alt="..."
                                height="145px">
                            <div class="card-body">
                                <h5 class="card-title">Video Consultations</h5>
                                <p class="card-text">Video Consults with top doctors 24x7</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-------------->
<div class="container">
    <div class="row">
        <h3 class="fw-bold">Insurance</h3>
        <p class="fs-5 fw-normal">Get access to all your Health insurance services - View Policy, Initiate and Track
            Claims, Go Cashless with
            network hospitals and intimate Hospitalization</p>

        <div class="class-md-10">
        </div>
    </div>
</div>
<!---------------->
<!-- <div class="container">
    <div class="row">

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/ecard.svg" class="card-img-top width-20%" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>

        

    </div>

</div> -->