<div class="container">
  <div class="row">

    <div class="fs-3 fw-bolder">Top Deals</div>
    <owl-carousel-o [options]="customOptions">

      <ng-container *ngFor="let slide of topDeals">
        <ng-template carouselSlide [id]="slide.id">
          <!-- <img [src]="slide.productImageSlug[0]" [alt]="slide.alt" [title]="slide.title"> -->
          
          <div class="card card-block" style="width: 280px;">
            <img [src]=" slide.productImageSlug[0]" class="card-img-top m-2 p-4" alt="...">
            <div class="card-body">
              <h5 class="card-title card-description" [title]="slide.decription">{{slide.description}}>Card title</h5>
              <p class="card-text text-muted">{{slide.type}}</p>
              <span class="card-text text-muted">MRP</span>
            <p style="font-size: 20px;">Rs <span class="ms-0">{{slide.discountPrice}}</span> &nbsp; <span style=" margin-left:10px;"></span></p>
            </div>

          </div>
        </ng-template>
      </ng-container>

    </owl-carousel-o>
    <div>Some tags after</div>

  </div>

</div>