<div class="row py-5 text-center text-light bg-primary">
    <div class="col">
        <h4 class="fw-3">Get Huge Savings on Medicines</h4>
    </div>
    <div class="d-flex justify-content-center bd-heightlight mb-1">
        <div class="p-2"><i class="bi bi-check-circle-fill me-2"></i>100 % Genuine Medicines</div>
        <div class="p-2"><i class="bi bi-check-circle-fill me-2"></i>Trusted Pharmacies</div>
        <div class="p-2"><i class="bi bi-check-circle-fill me-2"></i>Delivery to your doorstep</div>
        <div class="p-2"><i class="bi bi-check-circle-fill me-2"></i>Store Pick up</div>
    </div>
</div>
<!--------------->
<div class="row w-75 text-center m-auto rounded-4 shadow searchBox">
    <div class="input-group flex-nowrap py-4">
        <span class="input-group-text bg-body" id="addon-wrapping">Pune &nbsp;411041 &nbsp;<i class="bi bi-arrow-right-circle-fill"></i></span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="addon-wrapping">
            <span class="input-group-text bg-body text-primary" id="addon-wrapping"><i class="bi bi-search me-2 text-primary"></i>Search</span>
    </div>
</div>

<div class="container m-auto py-3">
<div class="row">
    <img src="../../../assets/medicine-page.webp">

</div>
</div>

<app-top-deals></app-top-deals>